*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #000; */
    background-image: url('https://source.unsplash.com/1600x900/?weather');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    font-family: 'Bree Serif', serif;
    font-family: 'Open Sans', sans-serif;
}

.container{
    /* text-align: center; */
    width: 100%;
    max-width: 500px;
    margin: 16px;
    padding: 2em;
    border: 1px solid #000;
    background: linear-gradient(153deg, #00feba, #5b548a);
    border-radius: 25px;
    position: relative;
}

.container:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

.container h1{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin: 30px 0;
    color: #fff;
}

#weather{
    border-radius: 9px;
    height: 26px;
    margin-top: 200px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    width: 50%;
    height: 30px;
    border-radius: 50px;
    padding: 0 15px;
    border: none;
}

.search .btn{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    margin: 5px;
}

.search button:hover{
    background: #7c7c6b;
}

.search button i{
    font-size: 15px;
}

.clock-box{
    margin-left: 250px;
    margin-top: 20px;
    text-align: center;

}

.clock {
    width: 200px;
    height: 90px;
    background-color: rgba(235, 0, 255, 0.11);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.clock span{
    font-size: 35px;
    width: 35px;
    display: inline-block;
    text-align: center;
    position: relative;
    color: #fff;
}

.clock span::after{
    font-size: 10px;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}

.hrs::after{
    content: "HOUR";
}
.mints::after{
    content: "MINUTE";
}
.sec::after{
    content: "SECOND";
}

.clock-box p{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin: 15px 0;
}

.weather{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
}

.deatils{
    width: 200px;
}

.setweather{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.city{
    margin-bottom: 3px;
    color: #fff;
    /* opacity: 0;
    animation: slideRight .5s ease forwards; */
}

#date{
    color: #fff;
}

#weathericon{
    max-width: 30%;
    height: 100%;
}

.temp{
    font-size: 28px;
    color: #fff;
    margin-bottom: 8px;
    margin-left: 40px;
    /* opacity: 0;
    animation: slideRight .5s ease forwards; */
}
.discripition{
    position: relative;
    top: 50px;
    left: 100px;
    font-size: 13px;
    color: #fff;
    /* opacity: 0;
    animation: slideRight .5s ease forwards; */
}

.verticle{
    border-left: 1px solid #fff;
    height: 150px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 30px;
}

.deatils-2{
    width: 200px;
    margin-top: 160px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-left: 20px;
}

.humidity{
    position: relative;
    bottom: 100px;
    margin: 10px 10px;
    font-size: 18px;
    margin-bottom: 20px;
    /* opacity: 0;
    animation: slideRight .5s ease forwards; */
}
.wind{
    position: relative;
    bottom: 90px;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 80px;
    /* opacity: 0;
    animation: slideRight .5s ease forwards; */
}

.max-temp{
    position: absolute;
    bottom: 70px;
    font-size: 18px;
    margin-left: 10px;
    
}
.min-temp{
    position: relative;
    font-size: 18px;
    right: 75px;
    bottom: 20px;
}


/* 
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
} */




/* Meadia quary */

@media (max-width:660px){
    body{
        width: 100%;
        height: 130vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
    }
    .container {
        width: 100%;
        height: 550px;
        margin-bottom: 275px;
        position: fixed;
    }

    .container h1{
        font-size: 25px;
    }

    .container p{
        font-size: 18px;
        font-weight: 600;
        padding: 10px 40px;
    }

    .clock {
        width: 150px;
        height: 60px;
    }

    .clock span{
        font-size: 23px;
        width: 20%;
        font-weight: 600;
    }
    .clock span::after{
        font-size: 8px;
    }

}
@media (max-width:390px){
    body{
        width: 100%;
        height: 130vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
    }
    .container {
        width: 100%;
        height: 550px;
        margin-bottom: 275px;
        position: fixed;
    }

    .container h1{
        font-size: 19px;
    }

    .container p{
        font-size: 14px;
        font-weight: 500;
        padding: 10px 40px;
    }

    .clock {
        width: 100px;
        height: 50px;
        margin-left: -20px;
    }

    .clock span{
        font-size: 19px;
        width: 18%;
    }
    .clock span::after{
        font-size: 7px;
    }

    .clock-box p{
        font-size: 18px;
        margin-left: 100px;
        margin-top: -170px;
    }

}